<!-- Home Slider -->
<div class="slick-carousel slick-nav-rounded" data-slick='{
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "arrows": true,
    "fade": true,
}'>
  <div class="bg-no-repeat bg-cover bg-center img-bg" style="background-image: url(assets/static/img/fondo.jpg);">
    <div class="container">
      <div class="row align-items-center p-search">
        <div class="col-lg-6 col-sm-12">
          <form class="position-relative w-100">
            <div class="mb-3 input-group">
              <!-- Search input -->
              <input class="form-control border-0 shadow-none" type="text" name="search"
                placeholder="Marca, Modelo, Versión">
              <!-- Search button -->
              <button type="button" class="btn btn-success shadow-none">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Home Slider -->
<!-- section -->
<section class="py-3">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-lg-4">
        <div class="position-relative">
          <img class="w-100" src="assets/static/img/imagen1.jpg" title="" alt="">
          <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center top-0 left-0">
            <div class="w-100 text-center">
              <h6 class="text-uppercase fw-lighten text-white mb-3">NEW IN</h6>
              <h3 class="fw-lighten h3 text-white">WOMEN’S</h3>
              <div class="pt-3">
                <a class="btn btn-white btn-sm" href="#">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="position-relative">
          <img class="w-100" src="assets/static/img/imagen2.jpg" >
          <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center top-0 left-0">
            <div class="w-100 text-center">
              <h6 class="text-uppercase fw-lighten text-white mb-3">NEW IN</h6>
              <h3 class="fw-lighten h3 text-white">WOMEN’S</h3>
              <div class="pt-3">
                <a class="btn btn-white btn-sm" href="#">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="position-relative">
          <img class="w-100" src="assets/static/img/imagen3.jpg" title="" alt="">
          <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center top-0 left-0">
            <div class="w-100 text-center">
              <h6 class="text-uppercase fw-lighten text-white mb-3">NEW IN</h6>
              <h3 class="fw-lighten h3 text-white">WOMEN’S</h3>
              <div class="pt-3">
                <a class="btn btn-white btn-sm" href="#">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>