<div class="bg-white">
  <div class="row">

    <!-- Categories -->
    <div class="col-lg-12 col-sm-12 my-2">
      <div class="shop-sidebar-title">
        <span class="h5">Categories</span>
      </div>
      <categories [filters]="categories"></categories>
    </div>
    <!-- End Categories -->

    <!-- Color -->
    <div class="col-lg-12 col-sm-12 my-2">
      <div class="shop-sidebar-title">
        <span class="h5">Color</span>
      </div>
      <colors [colors]="color"></colors>
    </div>
    <!-- End Color -->

    <!-- Brands -->
    <div class="col-lg-12 col-sm-12 my-2">
      <div class="shop-sidebar-title">
        <a class="h5" data-bs-toggle="collapse" href="#shop_brand" role="button" aria-expanded="true"
          aria-controls="shop_brand">Tipo de venta <i class="bi bi-chevron-up"></i></a>
      </div>
      <type-sale [typeSale]="tipoDeVenta"></type-sale>
    </div>
    <!-- End Brands -->
    <!-- Brands -->
    <div class="shop-sidebar-title">
      <a class="h5" data-bs-toggle="collapse" href="#shop_price" role="button" aria-expanded="true"
        aria-controls="shop_price">Precio <i class="bi bi-chevron-up"></i></a>
    </div>
    <div class="shop-sidebar-list collapse show" id="shop_price">
      <div class=" align-items-center">
        <!-- Input -->
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Ex. Pizza"  value="{{minvalor.value | currency}}">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-slider thumbLabel [displayWith]="formatLabel" class="w-100" #minvalor tickInterval="1000" step="1000" min="0"
              max="999999" aria-label="units"></mat-slider>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Ex. Pizza" value="{{maxvalor.value | currency}}">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-slider thumbLabel [displayWith]="formatLabel" class="w-100" #maxvalor tickInterval="1000" step="1000" min="0"
              max="999999" aria-label="units"></mat-slider>
          </div>
        </div>
      </div>
    </div>

    <div class="shop-sidebar-title mt-4">
      <a class="h5" data-bs-toggle="collapse" href="#shop_km" role="button" aria-expanded="true" aria-controls="km">Km
        <i class="bi bi-chevron-up"></i></a>
    </div>
    <div class="shop-sidebar-list collapse show" id="km">
      <div class=" align-items-center">
        <!-- Input -->
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Ex. Pizza"  value="{{minvalorkm.value | number}} Km">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-slider thumbLabel [displayWith]="formatLabel" class="w-100" #minvalorkm tickInterval="1000" step="1000" min="0"
              max="300000" aria-label="units"></mat-slider>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Ex. Pizza" value="{{maxvalorkm.value | number}} Km">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-12">
            <mat-slider thumbLabel [displayWith]="formatLabel" class="w-100" #maxvalorkm tickInterval="1000" step="1000" min="0"
              max="300000" aria-label="units"></mat-slider>
          </div>
        </div>
      </div>
    </div>
    <!-- End Brands -->
  </div>
</div>
<!-- End Sidebar -->
