<!-- Breadcrumb -->
<div class="pt-10 bg-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-2">
        <h1 class="m-0 h4 text-center text-lg-start">Comprar</h1>
      </div>
      <div class="col-lg-6 my-2">
        <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
          <li class="breadcrumb-item"><a class="text-nowrap" href="#"><i class="bi bi-home"></i>Inicio</a></li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">Comprar</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->
<!-- Shop -->
<section class="py-6">
  <div class="container">
    <!-- Product Box -->
    <div class="shop-top-bar d-flex pb-3">
      <div class="layout-change">
        <!-- Mobile Toggle -->
        <button class="btn btn-sm w-auto px-3 small" type="button" data-bs-toggle="collapse"
          data-bs-target="#shop_filter" aria-controls="shop_filter" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fs-4 lh-1 bi bi-justify-left me-2"></i> Filter
        </button>

      </div>
    </div>
    <!-- Sidebar -->
    <div class="shadow collapse" id="shop_filter">
      <div class="p-4 mb-4">
        <div class="row">
          <!-- Categories -->
          <div class="col-lg-4 col-sm-6 shop-sidebar-block my-2">
            <div class="shop-sidebar-title">
              <a class="h5" data-bs-toggle="collapse" href="#shop_categories" role="button" aria-expanded="true"
                aria-controls="shop_categories">Categories <i class="bi bi-chevron-up"></i></a>
            </div>
            <div class="shop-category-list collapse show" id="shop_categories">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#" class="nav-link ">Marca <span>(7)</span></a>
                  <a data-bs-toggle="collapse" href="#shop_cat_1" role="button" aria-expanded="false"
                    aria-controls="shop_cat_1" class="s-icon"></a>
                  <div class="collapse" id="shop_cat_1">
                    <ul class="nav nav-pills flex-column nav-hierarchy">
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Harley Davidson</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Honda</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Yamaha</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">BMW</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Indian MI</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Keeway</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Ducari</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link ">Modelo <span>(13)</span></a>
                  <a data-bs-toggle="collapse" href="#shop_cat_2" role="button" aria-expanded="false"
                    aria-controls="shop_cat_2" class="s-icon"></a>
                  <div class="collapse" id="shop_cat_2">
                    <ul class="nav nav-pills flex-column nav-hierarchy">
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2021</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2020</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2019</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2018</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2017</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2016</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2015</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2014</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2013</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2012</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2011</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2010</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">2019</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link ">Versión <span>(4)</span></a>
                  <a data-bs-toggle="collapse" href="#shop_cat_3" role="button" aria-expanded="false"
                    aria-controls="shop_cat_3" class="s-icon"></a>
                  <div class="collapse" id="shop_cat_3">
                    <ul class="nav nav-pills flex-column nav-hierarchy">
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Touring</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Touring</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Touring</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">Touring</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link ">Ubicación <span>(4)</span></a>
                  <a data-bs-toggle="collapse" href="#shop_cat_5" role="button" aria-expanded="false"
                    aria-controls="shop_cat_5" class="s-icon"></a>
                  <div class="collapse" id="shop_cat_5">
                    <ul class="nav nav-pills flex-column nav-hierarchy">
                      <li class="nav-item">
                        <a href="#" class="nav-link ">CDMX</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">EDO MEX</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">GDL</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">TJN</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link ">Cilindrada<span>(7)</span></a>
                  <a data-bs-toggle="collapse" href="#shop_cat_4" role="button" aria-expanded="false"
                    aria-controls="shop_cat_4" class="s-icon"></a>
                  <div class="collapse" id="shop_cat_4">
                    <ul class="nav nav-pills flex-column nav-hierarchy">
                      <li class="nav-item">
                        <a href="#" class="nav-link ">50CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">125CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">250CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">350CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">500CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">650CC</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link ">750CC</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Categories -->
          <!-- Color -->
          <div class="col-lg-4 col-sm-6 shop-sidebar-block my-2">
            <div class="shop-sidebar-title">
              <a class="h5" data-bs-toggle="collapse" href="#shop_Color" role="button" aria-expanded="true"
                aria-controls="shop_Color">Color <i class="bi bi-chevron-up"></i></a>
            </div>
            <div class="shop-sidebar-list collapse show" id="shop_Color">
              <ul>
                <li class="custom-checkbox checkbox-color">
                  <input class="custom-control-input" id="colorsidebar1" type="checkbox" checked="">
                  <label class="custom-control-label" style="color: #1F45FC;" for="colorsidebar1">
                    <span class="text-body">
                      Royal Blue
                    </span>
                  </label>
                </li>
                <li class="custom-checkbox checkbox-color">
                  <input class="custom-control-input" id="colorsidebar2" type="checkbox">
                  <label class="custom-control-label" style="color: #FCD71E;" for="colorsidebar2">
                    <span class="text-body">
                      Yellow
                    </span>
                  </label>
                </li>
                <li class="custom-checkbox checkbox-color">
                  <input class="custom-control-input" id="colorsidebar3" type="checkbox">
                  <label class="custom-control-label" style="color: #000;" for="colorsidebar3">
                    <span class="text-body">
                      Black
                    </span>
                  </label>
                </li>
                <li class="custom-checkbox checkbox-color">
                  <input class="custom-control-input" id="colorsidebar4" type="checkbox">
                  <label class="custom-control-label" style="color: #f73636;" for="colorsidebar4">
                    <span class="text-body">
                      Red
                    </span>
                  </label>
                </li>
                <li class="custom-checkbox checkbox-color">
                  <input class="custom-control-input" id="colorsidebar5" type="checkbox" disabled="">
                  <label class="custom-control-label" style="color: #17a2b8;" for="colorsidebar5">
                    <span class="text-body">
                      Cyan
                    </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Color -->
          <!-- Brands -->
          <div class="col-lg-4 col-sm-6 shop-sidebar-block my-2">
            <div class="shop-sidebar-title">
              <a class="h5" data-bs-toggle="collapse" href="#shop_brand" role="button" aria-expanded="true"
                aria-controls="shop_brand">Tipo de venta <i class="bi bi-chevron-up"></i></a>
            </div>
            <div class="shop-sidebar-list collapse show" id="shop_brand">
              <ul>
                <li class="custom-checkbox">
                  <input class="custom-control-input" id="brand1" type="checkbox">
                  <label class="custom-control-label" for="brand1">
                    Venta
                  </label>
                </li>
                <li class="custom-checkbox">
                  <input class="custom-control-input" id="brand2" type="checkbox">
                  <label class="custom-control-label" for="brand2">
                    Cambio
                  </label>
                </li>
                <li class="custom-checkbox">
                  <input class="custom-control-input" id="brand3" type="checkbox">
                  <label class="custom-control-label" for="brand3">
                    Venta o cambio
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Brands -->
          <!-- Brands -->
          <div class="shop-sidebar-title">
            <a class="h5" data-bs-toggle="collapse" href="#shop_price" role="button" aria-expanded="true"
              aria-controls="shop_price">Price <i class="bi bi-chevron-up"></i></a>
          </div>
          <div class="shop-sidebar-list collapse show" id="shop_price">
            <div class="d-flex align-items-center pt-3">
              <!-- Input -->
              <input type="number" class="form-control form-control-sm" placeholder="$10.00" min="10">
              <!-- Divider -->
              <div class="text-gray-350 mx-2">‒</div>
              <!-- Input -->
              <input type="number" class="form-control form-control-sm" placeholder="$350.00" max="9999999">
            </div>
          </div>

          <div class="shop-sidebar-title mt-4">
            <a class="h5" data-bs-toggle="collapse" href="#shop_km" role="button" aria-expanded="true"
              aria-controls="km">Km <i class="bi bi-chevron-up"></i></a>
          </div>
          <div class="shop-sidebar-list collapse show" id="km">
            <div class="d-flex align-items-center pt-3">
              <!-- Input -->
              <input type="number" class="form-control form-control-sm" placeholder="10,000 Km" min="10">
              <!-- Divider -->
              <div class="text-gray-350 mx-2">‒</div>
              <!-- Input -->
              <input type="number" class="form-control form-control-sm" placeholder="100,000 Km">
            </div>
          </div>
          <!-- End Brands -->
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
    <div class="row g-3">
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto5.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto2.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto3.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto4.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto2.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto3.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto4.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
      <!-- Product Box -->
      <div class="col-sm-6 col-lg-3">
        <div class="product-card-1">
          <div class="product-card-image">

            <div class="product-action">
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-heart"></i>
              </a>
              <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-right"></i>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#px-quick-view" href="javascript:void(0)"
                class="btn btn-outline-primary">
                <i class="bi bi-eye-fill"></i>
              </a>
            </div>
            <div class="product-media">
              <a href="#">
                <img class="img-fluid img-cat" src="assets/static/img/moto5.jpg" title="" alt="">
              </a>
            </div>
          </div>
          <div class="product-card-info">
            <h6 class="product-title text-start">
              <span>Honda</span>
            </h6>
            <div class="product-meta small text-start">
              <span>Touring</span> | <span>2021</span>
            </div>
            <div class="product-meta small text-start mt-4">
              <span>10.400 Km</span> | <span>150 CC</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="product-meta small text-start fw-bold">
                  <span>CDMX</span>
                </div>
              </div>
              <div class="col-6">
                <div class="product-price">
                  <span class=" text-secondary fw-bold fs-6 text-end">$35,000.<small>00</small></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product Box -->
    </div>
    <div class="shop-bottom-bar d-flex align-items-center pt-3 mt-3">
      <div>Showing: 1 - 12 of 17</div>
      <div class="ms-auto">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Product Box -->
  </div>
</section>
