<!-- Home Slider -->
<div class="slick-carousel slick-nav-rounded" data-slick='{
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "arrows": true,
    "fade": true,
}'>
  <div class="bg-no-repeat bg-cover bg-center img-bg" style="background-image: url(assets/static/img/fondo.jpg);">
    <div class="container">
      <div class="row align-items-center p-search">
        <div class="col-lg-6 col-sm-12">
          <input-search></input-search>
        </div>
      </div>
    </div>
  </div>
</div>
