<!-- Breadcrumb -->
<div class="pt-10 bg-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-2">
        <h1 class="m-0 h4 text-center text-lg-start">Detail</h1>
      </div>
      <div class="col-lg-6 my-2">
        <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
          <li class="breadcrumb-item"><a class="text-nowrap" href="#"><i class="bi bi-home"></i>Inicio</a></li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">Detail</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->
<!-- Product Details -->
<section class="product-details py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <carousel></carousel>
      </div>


      <div class="col-lg-6 ps-lg-5 mt-4">
        <div class="product-detail pt-lg-0">

          <motorcycle [motos]="motos"></motorcycle>

          <div class="row">
            <div class="col-sm-3 col-12">
              <button class="btn btn-success m-2 w-100">
                Contactar
              </button>
            </div>
            <div class="col-sm-2 col-3">
              <button class="btn btn-outline-dark m-2">
                <i class="bi bi-heart"></i>
              </button>
            </div>
            <div class="col-sm-2 col-3">
              <button class="btn btn-outline-dark m-2">
                <i class="bi bi-facebook"></i>
              </button>
            </div>
            <div class="col-sm-2 col-3">

              <button class="btn btn-outline-dark m-2">
                <i class="bi bi-twitter"></i>
              </button>
            </div>
            <div class="col-sm-2 col-3">

              <button class="btn btn-outline-dark m-2">
                <i class="bi bi-instagram"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
