<div class="mb-4 mx-2 ">
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Marca</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.marca}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Modelo</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.modelo}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Versión</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.version}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Kilometraje</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.mileage}}Km</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Cilindrada</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.displacement}}CC</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-dark p-1">Ubicación</span>
      </div>
      <div class="col-6 p-0">
        <span class="list-group-item list-group-item-action list-group-item-secondary p-1">{{motos.location}}</span>
      </div>
    </div>
  </div>


  <div class="product-description">
    <span class="fs-4 text-dark">Comentarios </span>
    <p>{{motos.comments}}</p>
  </div>
  <div class="count-down count-down-02 mb-3" data-countdown="January 01, 2022 15:00:00"></div>
  <div class="product-price fs-3 fw-500 mb-2">
    <span class="text-secondary">{{motos.price | currency}}</span>
  </div>