<body>
  <!-- Skippy -->
  <a id="skippy" class="visually-hidden visually-hidden-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->
  <!-- Preload -->
  <div id="loading" class="preloader">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- End Preload -->
  <!-- Search START -->

<search></search>

  <!-- Search END -->
  <!-- Header -->
  <div class="header-height-bar"></div>
  <header class="header-main bg-white header-light fixed-top header-height">
    <!-- End Top Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/static/img/logo.svg" title="" alt="">
        </a>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a [routerLink]="['sell']" routerLinkActive="router-link-active" class="nav-link">
                Vender
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['buy']" routerLinkActive="router-link-active" class="nav-link">
                Comprar
              </a>
            </li>
          </ul>
        </div>
        <!-- End Menu -->
        <div class="nav flex-nowrap align-items-center header-right">
          <!-- Nav Search-->
          <div class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="javascript:void(0)"
              data-bs-target="#search-open" aria-expanded="false">
              <i class="bi bi-search"> </i>
            </a>
          </div>
          <!-- Acount -->
          <div class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" id="dropdown_myaccount" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-circle"> </i>
            </a>
            <div class="dropdown-menu dropdown-menu-end mt-2 shadow" aria-labelledby="dropdown_myaccount">
              <a class="dropdown-item" [routerLink]="['user/login']" routerLinkActive="router-link-active">Login</a>
              <a class="dropdown-item" [routerLink]="['user/registrarse']"
                routerLinkActive="router-link-active">Registrate</a>
              <a class="dropdown-item" [routerLink]="['user/recuperar-contrasena']"
                routerLinkActive="router-link-active">Recuperar contraseña</a>
              <a class="dropdown-item" [routerLink]="['user/mi-cuenta']" routerLinkActive="router-link-active">Mi
                cuenta</a>
            </div>
          </div>
          <!-- Mobile Toggle -->
          <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- End Mobile Toggle -->
        </div>
      </div>
    </nav>
  </header>
