<div class="col-lg-12 lightbox-gallery product-gallery">
    <div class="slick-carousel product-slider" data-slick='{
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "arrows": false,
                            "fade": true,
                            "asNavFor": ".product-thumb"
                        }'>
      <div>
        <a class="gallery-link" href="assets/static/img/moto1.jpg"><i class="bi bi-arrows-fullscreen"></i></a>
        <img src="assets/static/img/moto1.jpg" class="img-fluid" title="" alt="">
      </div>

    </div>
  
  </div>